In [5]:
import pandas as pd

def clean_package(value):
    if isinstance(value, str) and '-' in value:
        parts = value.split('-')
        try:
            return (float(parts[0]) + float(parts[1])) / 2
        except:
            return None
    try:
        return float(value)
    except:
        return None

In [6]:
mains_df = pd.read_csv("jee_mains.csv")
advance_df = pd.read_csv("iit_data.csv")

In [9]:
mains_df.head()

,institute,seat_type,gender,opening_rank,closing_rank,round_number,program_name,duration,degree,nirf_rank,average_package,highest_package
0,Dr. B R Ambedkar National Institute of Technol...,OPEN,Gender-Neutral,58313.0,65917.0,1,Bio Technology,4 Years,Bachelor of Technology,NaN,7.53,31.12
1,Dr. B R Ambedkar National Institute of Technol...,OPEN,Female-only (including Supernumerary),53084.0,53648.0,1,Bio Technology,4 Years,Bachelor of Technology,NaN,7.53,31.12
2,Dr. B R Ambedkar National Institute of Technol...,EWS,Gender-Neutral,10180.0,10180.0,1,Bio Technology,4 Years,Bachelor of Technology,NaN,7.53,31.12
3,Dr. B R Ambedkar National Institute of Technol...,EWS,Female-only (including Supernumerary),16293.0,16293.0,1,Bio Technology,4 Years,Bachelor of Technology,NaN,7.53,31.12
4,Dr. B R Ambedkar National Institute of Technol...,OBC-NCL,Gender-Neutral,33291.0,52241.0,1,Bio Technology,4 Years,Bachelor of Technology,NaN,7.53,31.12

In [11]:
mains_df["average_package"] = mains_df["average_package"].apply(clean_package)
mains_df["highest_package"] = mains_df["highest_package"].apply(clean_package)

advance_df["average_package"] = advance_df["average_package"].apply(clean_package)
advance_df["highest_package"] = advance_df["highest_package"].apply(clean_package)

In [16]:
mask_avg = mains_df["average_package"].apply(is_invalid_float)
mask_high = mains_df["highest_package"].apply(is_invalid_float)

invalid_rows = mains_df[mask_avg | mask_high]
print("Rows with invalid numeric values:")
print(invalid_rows[["Institute", "Average Package (LPA)", "Highest Package (LPA)"]])

Rows with invalid numeric values:

KeyError: "None of [Index(['Institute', 'Average Package (LPA)', 'Highest Package (LPA)'], dtype='object')] are in the [columns]"

In [15]:
def is_invalid_float(value):
    try:
        float(value)
        return False
    except:
        return True

# Example for one column
invalid_avg = mains_df[mains_df["average_package"].apply(is_invalid_float)]
print("Invalid entries in Average Package (LPA):")
print(invalid_avg[["institute", "average_package"]])

Invalid entries in Average Package (LPA):
Empty DataFrame
Columns: [institute, average_package]
Index: []

In [17]:
mains_df.to_csv("jee_mains.csv",index=False)

In [18]:
advance_df.to_csv("iit_data.csv",index=False)