In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("josaa_round1_cfi_results.csv")
df2 = pd.read_csv("josaa_round2_cfi_results.csv")
df3 = pd.read_csv("josaa_round3_cfi_results.csv")
df4 = pd.read_csv("josaa_round4_cfi_results.csv")
df5 = pd.read_csv("josaa_round5_cfi_results.csv")

In [3]:
df1['round_number'] = 1
df2['round_number'] = 2
df3['round_number'] = 3
df4['round_number'] = 4
df5['round_number'] = 5

In [4]:
df1.head()

,Institute,Academic Program,Quota,Seat Type,Gender,Opening Rank,Closing Rank,round_number
0,"Assam University, Silchar","Agricultural Engineering (4 Years, Bachelor of...",AI,OPEN,Gender-Neutral,39074,66923,1
1,"Assam University, Silchar","Agricultural Engineering (4 Years, Bachelor of...",AI,OPEN,Female-only (including Supernumerary),68243,68243,1
2,"Assam University, Silchar","Agricultural Engineering (4 Years, Bachelor of...",AI,OPEN (PwD),Gender-Neutral,1032,1032,1
3,"Assam University, Silchar","Agricultural Engineering (4 Years, Bachelor of...",AI,EWS,Gender-Neutral,10119,10958,1
4,"Assam University, Silchar","Agricultural Engineering (4 Years, Bachelor of...",AI,OBC-NCL,Gender-Neutral,21209,23389,1

In [5]:
df1 = df1.drop('Quota',axis=1)
df2 = df2.drop('Quota',axis=1)
df3 = df3.drop('Quota',axis=1)
df4 = df4.drop('Quota',axis=1)
df5 = df5.drop('Quota',axis=1)

In [6]:
merged_df = pd.concat([df1, df2, df3, df4, df5], ignore_index=True)

In [7]:
merged_df["round_number"].unique()

array([1, 2, 3, 4, 5], dtype=int64)

In [8]:
merged_df = merged_df.rename(columns={
    "Institute": "institute",
    "Academic Program": "academic_program",
    "Seat Type": "seat_type",
    "Gender": "gender",
    "Opening Rank": "opening_rank",
    "Closing Rank": "closing_rank"
})

In [9]:
merged_df.head()

,institute,academic_program,seat_type,gender,opening_rank,closing_rank,round_number
0,"Assam University, Silchar","Agricultural Engineering (4 Years, Bachelor of...",OPEN,Gender-Neutral,39074,66923,1
1,"Assam University, Silchar","Agricultural Engineering (4 Years, Bachelor of...",OPEN,Female-only (including Supernumerary),68243,68243,1
2,"Assam University, Silchar","Agricultural Engineering (4 Years, Bachelor of...",OPEN (PwD),Gender-Neutral,1032,1032,1
3,"Assam University, Silchar","Agricultural Engineering (4 Years, Bachelor of...",EWS,Gender-Neutral,10119,10958,1
4,"Assam University, Silchar","Agricultural Engineering (4 Years, Bachelor of...",OBC-NCL,Gender-Neutral,21209,23389,1

In [10]:
merged_df['program_name'] = merged_df['academic_program'].str.extract(r'^(.*?)(?:\s*\(\d+ Years, .*?\))')[0].str.strip()

In [11]:
merged_df['duration'] = merged_df['academic_program'].str.extract(r'\((\d+ Years)')

In [12]:
merged_df['degree_raw'] = merged_df['academic_program'].str.extract(r'\,\s*(.*?)\)$')

In [13]:
merged_df['opening_rank'] = pd.to_numeric(merged_df['opening_rank'], errors='coerce')  # invalid values become NaN

# Optional: You can also do the same for 'closing_rank' if needed
merged_df['closing_rank'] = pd.to_numeric(merged_df['closing_rank'], errors='coerce')

In [14]:
merged_df.drop(columns=['academic_program'],inplace=True)

In [15]:
rf = pd.read_csv("rank_data_2.csv")

In [16]:
rf.head()

       institute       city          state  rank  college_id
0     IIT Madras    Chennai     Tamil Nadu     1           1
1      IIT Delhi  New Delhi          Delhi     2           2
2     IIT Bombay     Mumbai    Maharashtra     3           3
3     IIT Kanpur     Kanpur  Uttar Pradesh     4           4
4  IIT Kharagpur  Kharagpur    West Bengal     5           5

In [17]:
merged_df = merged_df.merge(rf[['institute', 'college_id']], on='institute', how='left')

In [18]:
merged_df.head()

,institute,seat_type,gender,opening_rank,closing_rank,round_number,program_name,duration,degree_raw,college_id
0,"Assam University, Silchar",OPEN,Gender-Neutral,39074,66923,1,Agricultural Engineering,4 Years,Bachelor of Technology,NaN
1,"Assam University, Silchar",OPEN,Female-only (including Supernumerary),68243,68243,1,Agricultural Engineering,4 Years,Bachelor of Technology,NaN
2,"Assam University, Silchar",OPEN (PwD),Gender-Neutral,1032,1032,1,Agricultural Engineering,4 Years,Bachelor of Technology,NaN
3,"Assam University, Silchar",EWS,Gender-Neutral,10119,10958,1,Agricultural Engineering,4 Years,Bachelor of Technology,NaN
4,"Assam University, Silchar",OBC-NCL,Gender-Neutral,21209,23389,1,Agricultural Engineering,4 Years,Bachelor of Technology,NaN

In [19]:
merged_df.to_csv('gfti_data.csv', index=False)

In [20]:
merged_df['college_id'].unique()

array([nan, 76., 70.])

In [21]:
merged_df.head()

,institute,seat_type,gender,opening_rank,closing_rank,round_number,program_name,duration,degree_raw,college_id
0,"Assam University, Silchar",OPEN,Gender-Neutral,39074,66923,1,Agricultural Engineering,4 Years,Bachelor of Technology,NaN
1,"Assam University, Silchar",OPEN,Female-only (including Supernumerary),68243,68243,1,Agricultural Engineering,4 Years,Bachelor of Technology,NaN
2,"Assam University, Silchar",OPEN (PwD),Gender-Neutral,1032,1032,1,Agricultural Engineering,4 Years,Bachelor of Technology,NaN
3,"Assam University, Silchar",EWS,Gender-Neutral,10119,10958,1,Agricultural Engineering,4 Years,Bachelor of Technology,NaN
4,"Assam University, Silchar",OBC-NCL,Gender-Neutral,21209,23389,1,Agricultural Engineering,4 Years,Bachelor of Technology,NaN

In [4]:
import pandas as pd
import re

# Load your data
gfti_data = pd.read_csv("gfti_data.csv")
gfti_placement = pd.read_csv("gfti_placement.csv")

# Normalize institute names
def normalize(name):
    if isinstance(name, str):
        return re.sub(r'[^a-zA-Z0-9 ]', '', name).lower().strip()
    return name

gfti_data["institute_normalized"] = gfti_data["institute"].apply(normalize)
gfti_placement["institute_normalized"] = gfti_placement["institute"].apply(normalize)

# Merge on normalized name
merged_gfti = pd.merge(gfti_data, gfti_placement, on="institute_normalized", how="left")

# Save merged file
merged_gfti.to_csv("merged_gfti_with_placement.csv", index=False)

In [5]:
merged_gfti.head()

,institute_x,seat_type,gender,opening_rank,closing_rank,round_number,program_name,duration,degree_raw,college_id,institute_normalized,institute_y,Location,Average Package (INR),Highest Package (INR)
0,"Assam University, Silchar",OPEN,Gender-Neutral,39074,66923,1,Agricultural Engineering,4 Years,Bachelor of Technology,NaN,assam university silchar,NaN,NaN,NaN,NaN
1,"Assam University, Silchar",OPEN,Female-only (including Supernumerary),68243,68243,1,Agricultural Engineering,4 Years,Bachelor of Technology,NaN,assam university silchar,NaN,NaN,NaN,NaN
2,"Assam University, Silchar",OPEN (PwD),Gender-Neutral,1032,1032,1,Agricultural Engineering,4 Years,Bachelor of Technology,NaN,assam university silchar,NaN,NaN,NaN,NaN
3,"Assam University, Silchar",EWS,Gender-Neutral,10119,10958,1,Agricultural Engineering,4 Years,Bachelor of Technology,NaN,assam university silchar,NaN,NaN,NaN,NaN
4,"Assam University, Silchar",OBC-NCL,Gender-Neutral,21209,23389,1,Agricultural Engineering,4 Years,Bachelor of Technology,NaN,assam university silchar,NaN,NaN,NaN,NaN

In [6]:
gfti = pd.read_csv("gfti_data.csv")

In [8]:
gfti["institute"].unique()

array(['Assam University, Silchar',
       'Birla Institute of Technology, Mesra, Ranchi',
       'Gurukula Kangri Vishwavidyalaya, Haridwar',
       'Indian Institute of Carpet Technology, Bhadohi',
       'Institute of Infrastructure, Technology, Research and Management-Ahmedabad',
       'School of Studies of Engineering and Technology, Guru Ghasidas Vishwavidyalaya, Bilaspur',
       'J.K. Institute of Applied Physics & Technology, Department of Electronics & Communication, University of Allahabad- Allahabad',
       'National Institute of Electronics and Information Technology, Aurangabad (Maharashtra)',
       'National Institute of Advanced Manufacturing Technology, Ranchi',
       'Sant Longowal Institute of Engineering and Technology',
       'Mizoram University, Aizawl',
       'School of Engineering, Tezpur University, Napaam, Tezpur',
       'School of Planning & Architecture, Bhopal',
       'School of Planning & Architecture, New Delhi',
       'School of Planning & Architecture: Vijayawada',
       'Shri Mata Vaishno Devi University, Katra, Jammu & Kashmir',
       'International Institute of Information Technology, Naya Raipur',
       'University of Hyderabad',
       'Punjab Engineering College, Chandigarh',
       'Jawaharlal Nehru University, Delhi',
       'International Institute of Information Technology, Bhubaneswar',
       'Central institute of Technology Kokrajar, Assam',
       'Puducherry Technological University, Puducherry',
       'Ghani Khan Choudhary Institute of Engineering and Technology, Malda, West Bengal',
       'Central University of Rajasthan, Rajasthan',
       'National Institute of Food Technology Entrepreneurship and Management, Kundli',
       'National Institute of Food Technology Entrepreneurship and Management, Thanjavur',
       'North Eastern Regional Institute of Science and Technology, Nirjuli-791109 (Itanagar),Arunachal Pradesh',
       'Indian Institute of Handloom Technology(IIHT), Varanasi',
       'Chhattisgarh Swami Vivekanada Technical University, Bhilai (CSVTU Bhilai)',
       'Institute of Chemical Technology, Mumbai: Indian Oil Odisha Campus, Bhubaneswar',
       'North-Eastern Hill University, Shillong',
       'Central University of Jammu',
       'Institute of Engineering and Technology, Dr. H. S. Gour University. Sagar (A Central University)',
       'Central University of Haryana',
       'Birla Institute of Technology, Deoghar Off-Campus',
       'Birla Institute of Technology, Patna Off-Campus',
       'Indian Institute of Handloom Technology, Salem',
       'Gati Shakti Vishwavidyalaya, Vadodara', 'CU Jharkhand',
       'National Institute of Electronics and Information Technology, Ropar (Punjab)',
       'National Institute of Electronics and Information Technology, Patna (Bihar)',
       'National Institute of Electronics and Information Technology, Ajmer (Rajasthan)',
       'National Institute of Electronics and Information Technology, Gorakhpur (UP)',
       'Rajiv Gandhi National Aviation University, Fursatganj, Amethi (UP)',
       'Islamic University of Science and Technology Kashmir',
       'Shri G. S. Institute of Technology and Science Indore'],
      dtype=object)