In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv("josaa_round1_iiit_results.csv")
df2 = pd.read_csv("josaa_round2_iiit_results.csv")
df3 = pd.read_csv("josaa_round3_iiit_results.csv")
df4 = pd.read_csv("josaa_round4_iiit_results.csv")
df5 = pd.read_csv("josaa_round5_iiit_results.csv")

In [4]:
df1['round_number'] = 1
df2['round_number'] = 2
df3['round_number'] = 3
df4['round_number'] = 4
df5['round_number'] = 5

In [5]:
df1.head()

,Institute,Academic Program,Quota,Seat Type,Gender,Opening Rank,Closing Rank,round_number
0,Atal Bihari Vajpayee Indian Institute of Infor...,"Computer Science and Engineering (4 Years, Bac...",AI,OPEN,Gender-Neutral,5514,7835,1
1,Atal Bihari Vajpayee Indian Institute of Infor...,"Computer Science and Engineering (4 Years, Bac...",AI,OPEN,Female-only (including Supernumerary),9323,14651,1
2,Atal Bihari Vajpayee Indian Institute of Infor...,"Computer Science and Engineering (4 Years, Bac...",AI,OPEN (PwD),Gender-Neutral,129,129,1
3,Atal Bihari Vajpayee Indian Institute of Infor...,"Computer Science and Engineering (4 Years, Bac...",AI,OPEN (PwD),Female-only (including Supernumerary),481,481,1
4,Atal Bihari Vajpayee Indian Institute of Infor...,"Computer Science and Engineering (4 Years, Bac...",AI,EWS,Gender-Neutral,1014,1053,1

In [6]:
df1 = df1.drop('Quota',axis=1)
df2 = df2.drop('Quota',axis=1)
df3 = df3.drop('Quota',axis=1)
df4 = df4.drop('Quota',axis=1)
df5 = df5.drop('Quota',axis=1)

In [7]:
merged_df = pd.concat([df1, df2, df3, df4, df5], ignore_index=True)

In [8]:
merged_df["round_number"].unique()

array([1, 2, 3, 4, 5], dtype=int64)

In [9]:
merged_df = merged_df.rename(columns={
    "Institute": "institute",
    "Academic Program": "academic_program",
    "Seat Type": "seat_type",
    "Gender": "gender",
    "Opening Rank": "opening_rank",
    "Closing Rank": "closing_rank"
})

In [10]:
merged_df.head()

,institute,academic_program,seat_type,gender,opening_rank,closing_rank,round_number
0,Atal Bihari Vajpayee Indian Institute of Infor...,"Computer Science and Engineering (4 Years, Bac...",OPEN,Gender-Neutral,5514,7835,1
1,Atal Bihari Vajpayee Indian Institute of Infor...,"Computer Science and Engineering (4 Years, Bac...",OPEN,Female-only (including Supernumerary),9323,14651,1
2,Atal Bihari Vajpayee Indian Institute of Infor...,"Computer Science and Engineering (4 Years, Bac...",OPEN (PwD),Gender-Neutral,129,129,1
3,Atal Bihari Vajpayee Indian Institute of Infor...,"Computer Science and Engineering (4 Years, Bac...",OPEN (PwD),Female-only (including Supernumerary),481,481,1
4,Atal Bihari Vajpayee Indian Institute of Infor...,"Computer Science and Engineering (4 Years, Bac...",EWS,Gender-Neutral,1014,1053,1

In [11]:
merged_df['program_name'] = merged_df['academic_program'].str.extract(r'^(.*?)(?:\s*\(\d+ Years, .*?\))')[0].str.strip()

In [12]:
merged_df['duration'] = merged_df['academic_program'].str.extract(r'\((\d+ Years)')

In [13]:
merged_df['degree_raw'] = merged_df['academic_program'].str.extract(r'\,\s*(.*?)\)$')

In [14]:
merged_df['opening_rank'] = pd.to_numeric(merged_df['opening_rank'], errors='coerce')  # invalid values become NaN

# Optional: You can also do the same for 'closing_rank' if needed
merged_df['closing_rank'] = pd.to_numeric(merged_df['closing_rank'], errors='coerce')

In [15]:
merged_df.drop(columns=['academic_program'],inplace=True)

In [16]:
rf = pd.read_csv("rank_data_2.csv")

In [17]:
rf.head()

       institute       city          state  rank  college_id
0     IIT Madras    Chennai     Tamil Nadu     1           1
1      IIT Delhi  New Delhi          Delhi     2           2
2     IIT Bombay     Mumbai    Maharashtra     3           3
3     IIT Kanpur     Kanpur  Uttar Pradesh     4           4
4  IIT Kharagpur  Kharagpur    West Bengal     5           5

In [18]:
merged_df = merged_df.merge(rf[['institute', 'college_id']], on='institute', how='left')

In [19]:
merged_df.head()

,institute,seat_type,gender,opening_rank,closing_rank,round_number,program_name,duration,degree_raw,college_id
0,Atal Bihari Vajpayee Indian Institute of Infor...,OPEN,Gender-Neutral,5514,7835,1,Computer Science and Engineering,4 Years,Bachelor of Technology,NaN
1,Atal Bihari Vajpayee Indian Institute of Infor...,OPEN,Female-only (including Supernumerary),9323,14651,1,Computer Science and Engineering,4 Years,Bachelor of Technology,NaN
2,Atal Bihari Vajpayee Indian Institute of Infor...,OPEN (PwD),Gender-Neutral,129,129,1,Computer Science and Engineering,4 Years,Bachelor of Technology,NaN
3,Atal Bihari Vajpayee Indian Institute of Infor...,OPEN (PwD),Female-only (including Supernumerary),481,481,1,Computer Science and Engineering,4 Years,Bachelor of Technology,NaN
4,Atal Bihari Vajpayee Indian Institute of Infor...,EWS,Gender-Neutral,1014,1053,1,Computer Science and Engineering,4 Years,Bachelor of Technology,NaN

In [20]:
merged_df.to_csv('iiit_data.csv', index=False)

In [52]:
gfti = pd.read_csv("gfti_data.csv")
nit = pd.read_csv("nit_data.csv")

In [49]:
gfti.head()

,institute,seat_type,gender,opening_rank,closing_rank,round_number,program_name,duration,degree_raw,college_id
0,"Assam University, Silchar",OPEN,Gender-Neutral,39074,66923,1,Agricultural Engineering,4 Years,Bachelor of Technology,NaN
1,"Assam University, Silchar",OPEN,Female-only (including Supernumerary),68243,68243,1,Agricultural Engineering,4 Years,Bachelor of Technology,NaN
2,"Assam University, Silchar",OPEN (PwD),Gender-Neutral,1032,1032,1,Agricultural Engineering,4 Years,Bachelor of Technology,NaN
3,"Assam University, Silchar",EWS,Gender-Neutral,10119,10958,1,Agricultural Engineering,4 Years,Bachelor of Technology,NaN
4,"Assam University, Silchar",OBC-NCL,Gender-Neutral,21209,23389,1,Agricultural Engineering,4 Years,Bachelor of Technology,NaN

In [60]:
jee_main.head()

,institute,seat_type,gender,opening_rank,closing_rank,round_number,program_name,duration,degree_raw,nirf_rank
0,"Assam University, Silchar",OPEN,Gender-Neutral,39074.0,66923.0,1,Agricultural Engineering,4 Years,Bachelor of Technology,NaN
1,"Assam University, Silchar",OPEN,Female-only (including Supernumerary),68243.0,68243.0,1,Agricultural Engineering,4 Years,Bachelor of Technology,NaN
2,"Assam University, Silchar",OPEN (PwD),Gender-Neutral,1032.0,1032.0,1,Agricultural Engineering,4 Years,Bachelor of Technology,NaN
3,"Assam University, Silchar",EWS,Gender-Neutral,10119.0,10958.0,1,Agricultural Engineering,4 Years,Bachelor of Technology,NaN
4,"Assam University, Silchar",OBC-NCL,Gender-Neutral,21209.0,23389.0,1,Agricultural Engineering,4 Years,Bachelor of Technology,NaN

In [56]:
jee_main = pd.concat([gfti,nit], ignore_index = True)

In [59]:
jee_main = jee_main.rename(columns={"college_id":"nirf_rank"})

In [61]:
merged_df.to_csv('jee_main_data.csv', index=False)

In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("iiit_data.csv")
df2 = pd.read_csv("IIITs_Colleges_Placements.csv")

In [3]:
df1.head()

,institute,seat_type,gender,opening_rank,closing_rank,round_number,program_name,duration,degree_raw,college_id
0,Atal Bihari Vajpayee Indian Institute of Infor...,OPEN,Gender-Neutral,5514,7835,1,Computer Science and Engineering,4 Years,Bachelor of Technology,NaN
1,Atal Bihari Vajpayee Indian Institute of Infor...,OPEN,Female-only (including Supernumerary),9323,14651,1,Computer Science and Engineering,4 Years,Bachelor of Technology,NaN
2,Atal Bihari Vajpayee Indian Institute of Infor...,OPEN (PwD),Gender-Neutral,129,129,1,Computer Science and Engineering,4 Years,Bachelor of Technology,NaN
3,Atal Bihari Vajpayee Indian Institute of Infor...,OPEN (PwD),Female-only (including Supernumerary),481,481,1,Computer Science and Engineering,4 Years,Bachelor of Technology,NaN
4,Atal Bihari Vajpayee Indian Institute of Infor...,EWS,Gender-Neutral,1014,1053,1,Computer Science and Engineering,4 Years,Bachelor of Technology,NaN

In [7]:
df2 = df2.rename(columns={"College":"institute"})

In [8]:
df2.head()

,institute,Average Package,Highest Package
Indian Institute of Information Technology,Allahabad,2578000,12100000
Indian Institute of Information Technology,Lucknow,3371000,14500000
Atal Bihari Vajpayee Indian Institute of Information Technology and Management,Gwalior,2056000,6500000
Indian Institute of Information Technology Design and Manufacturing,Jabalpur,1927000,11000000
Indian Institute of Information Technology,Pune,1360000,4300000

In [9]:
merged_df = df1.merge(df2, on="institute", how="left")

In [10]:
merged_df.head()

,institute,seat_type,gender,opening_rank,closing_rank,round_number,program_name,duration,degree_raw,college_id,Average Package,Highest Package
0,Atal Bihari Vajpayee Indian Institute of Infor...,OPEN,Gender-Neutral,5514,7835,1,Computer Science and Engineering,4 Years,Bachelor of Technology,NaN,NaN,NaN
1,Atal Bihari Vajpayee Indian Institute of Infor...,OPEN,Female-only (including Supernumerary),9323,14651,1,Computer Science and Engineering,4 Years,Bachelor of Technology,NaN,NaN,NaN
2,Atal Bihari Vajpayee Indian Institute of Infor...,OPEN (PwD),Gender-Neutral,129,129,1,Computer Science and Engineering,4 Years,Bachelor of Technology,NaN,NaN,NaN
3,Atal Bihari Vajpayee Indian Institute of Infor...,OPEN (PwD),Female-only (including Supernumerary),481,481,1,Computer Science and Engineering,4 Years,Bachelor of Technology,NaN,NaN,NaN
4,Atal Bihari Vajpayee Indian Institute of Infor...,EWS,Gender-Neutral,1014,1053,1,Computer Science and Engineering,4 Years,Bachelor of Technology,NaN,NaN,NaN

In [11]:
import pandas as pd
import re

# Dictionary mapping IIIT placement data with standardized JoSAA GFTI names
iiit_placement_dict = {
    # Standardized institute names as keys (matching JoSAA GFTI format)
    "Atal Bihari Vajpayee Indian Institute of Information Technology & Management Gwalior": {
        "average_package": 2056000,
        "highest_package": 6500000
    },
    "Indian Institute of Information Technology Allahabad": {
        "average_package": 2578000,
        "highest_package": 12100000
    },
    "Indian Institute of Information Technology Lucknow": {
        "average_package": 3371000,
        "highest_package": 14500000
    },
    "Indian Institute of Information Technology Design and Manufacturing Jabalpur": {
        "average_package": 1927000,
        "highest_package": 11000000
    },
    "Indian Institute of Information Technology Pune": {
        "average_package": 1360000,
        "highest_package": 4300000
    },
    "Indian Institute of Information Technology Tiruchirappalli": {
        "average_package": 1000000,
        "highest_package": 4600000
    },
    "Indian Institute of Information Technology Bhopal": {
        "average_package": 1677000,
        "highest_package": 8500000
    },
    "Indian Institute of Information Technology Sri City": {
        "average_package": 1844000,
        "highest_package": 12000000
    },
    "Indian Institute of Information Technology Ranchi": {
        "average_package": 1214000,
        "highest_package": 2800000
    },
    "Indian Institute of Information Technology Kottayam": {
        "average_package": 1191000,
        "highest_package": 5000000
    },
    "Indian Institute of Information Technology Bhagalpur": {
        "average_package": 957000,
        "highest_package": 8300000
    },
    "Indian Institute of Information Technology Design and Manufacturing Chennai": {
        "average_package": 1419000,
        "highest_package": 3164200
    },
    "Indian Institute of Information Technology Raichur": {
        "average_package": 1800000,
        "highest_package": 4500000
    },
    "Indian Institute of Information Technology(IIIT) Kalyani, West Bengal": {
        "average_package": 1072000,
        "highest_package": 4400000
    },
    "Indian Institute of Information Technology Surat": {
        "average_package": 1399000,
        "highest_package": 7400000
    },
    "Indian Institute of Information Technology Nagpur": {
        "average_package": 1311000,
        "highest_package": 4700000
    },
    "Indian Institute of Information Technology Una": {
        "average_package": 1102000,
        "highest_package": 3000000
    },
    "Indian Institute of Information Technology Vadodara": {
        "average_package": 1200000,
        "highest_package": 5630000
    },
    "Indian Institute of Information Technology Agartala": {
        "average_package": 1800000,
        "highest_package": 6000000
    },
    "Indian Institute of Information Technology(IIIT) Kilohrad, Sonepat, Haryana": {
        "average_package": 1587000,
        "highest_package": 4000000
    },
    "Indian Institute of Information Technology (IIIT)Kota, Rajasthan": {
        "average_package": 1309000,
        "highest_package": 6500000
    },
    "Indian Institute of Information Technology Guwahati": {
        "average_package": 1675000,
        "highest_package": 7100000
    },
    "Indian Institute of Information Technology Dharwad": {
        "average_package": 1190000,
        "highest_package": 7194000
    },
    "Indian Institute of Information Technology Design and Manufacturing Kurnool": {
        "average_package": 820000,
        "highest_package": 3250000
    },
    "Indian Institute of Information Technology Manipur (Imphal)": {
        "average_package": 870000,
        "highest_package": 4000000
    }
}

def normalize_institute_name(name):
    """
    Normalize institute names for better matching
    """
    if pd.isna(name):
        return ""
    
    # Convert to string and strip whitespace
    name = str(name).strip()
    
    # Remove extra spaces and normalize spacing
    name = re.sub(r'\s+', ' ', name)
    
    # Handle common variations
    name = name.replace('&', 'and')
    name = name.replace(' and Management', ' & Management')
    
    return name

def fuzzy_match_institute(institute_name, placement_dict):
    """
    Find the best match for an institute name in the placement dictionary
    using fuzzy matching based on city/location names
    """
    if not institute_name:
        return None
    
    institute_lower = institute_name.lower()
    
    # Extract city/location from institute name
    city_patterns = {
        'gwalior': ['gwalior'],
        'allahabad': ['allahabad'],
        'lucknow': ['lucknow'],
        'jabalpur': ['jabalpur'],
        'pune': ['pune'],
        'tiruchirappalli': ['tiruchirappalli', 'trichy'],
        'bhopal': ['bhopal'],
        'sri city': ['sri city'],
        'ranchi': ['ranchi'],
        'kottayam': ['kottayam'],
        'bhagalpur': ['bhagalpur'],
        'chennai': ['chennai'],
        'raichur': ['raichur'],
        'kalyani': ['kalyani'],
        'surat': ['surat'],
        'nagpur': ['nagpur'],
        'una': ['una'],
        'vadodara': ['vadodara'],
        'agartala': ['agartala'],
        'sonepat': ['sonepat', 'kilohrad'],
        'kota': ['kota'],
        'guwahati': ['guwahati'],
        'dharwad': ['dharwad'],
        'kurnool': ['kurnool'],
        'manipur': ['manipur', 'imphal']
    }
    
    # Try to match based on city/location
    for city, patterns in city_patterns.items():
        for pattern in patterns:
            if pattern in institute_lower:
                # Find matching entry in placement_dict
                for dict_key in placement_dict.keys():
                    if city in dict_key.lower() or any(p in dict_key.lower() for p in patterns):
                        return dict_key
    
    # Direct name matching as fallback
    normalized_input = normalize_institute_name(institute_name)
    for dict_key in placement_dict.keys():
        normalized_dict_key = normalize_institute_name(dict_key)
        if normalized_input == normalized_dict_key:
            return dict_key
    
    return None

def merge_placement_data(csv_file_path, output_file_path=None):
    """
    Merge placement data with IIIT data CSV
    
    Parameters:
    csv_file_path (str): Path to your IIIT data CSV file
    output_file_path (str): Path for output CSV file (optional)
    
    Returns:
    pandas.DataFrame: Merged dataframe
    """
    
    # Read the CSV file
    try:
        df = pd.read_csv(csv_file_path)
        print(f"Successfully loaded CSV with {len(df)} rows")
    except Exception as e:
        print(f"Error reading CSV file: {e}")
        return None
    
    # Check if 'institute' column exists
    if 'institute' not in df.columns:
        print("Error: 'institute' column not found in CSV")
        print(f"Available columns: {list(df.columns)}")
        return None
    
    # Initialize new columns
    df['average_package'] = None
    df['highest_package'] = None
    
    # Track matching statistics
    matched_institutes = set()
    unmatched_institutes = set()
    
    # Merge placement data
    for index, row in df.iterrows():
        institute_name = row['institute']
        
        # Find matching placement data
        matched_key = fuzzy_match_institute(institute_name, iiit_placement_dict)
        
        if matched_key:
            df.at[index, 'average_package'] = iiit_placement_dict[matched_key]['average_package']
            df.at[index, 'highest_package'] = iiit_placement_dict[matched_key]['highest_package']
            matched_institutes.add(institute_name)
        else:
            unmatched_institutes.add(institute_name)
    
    # Print matching statistics
    print(f"\nMatching Statistics:")
    print(f"Matched institutes: {len(matched_institutes)}")
    print(f"Unmatched institutes: {len(unmatched_institutes)}")
    
    if matched_institutes:
        print(f"\nMatched institutes:")
        for inst in sorted(matched_institutes):
            print(f"  - {inst}")
    
    if unmatched_institutes:
        print(f"\nUnmatched institutes:")
        for inst in sorted(unmatched_institutes):
            print(f"  - {inst}")
    
    # Save the merged data
    if output_file_path:
        try:
            df.to_csv(output_file_path, index=False)
            print(f"\nMerged data saved to: {output_file_path}")
        except Exception as e:
            print(f"Error saving CSV file: {e}")
    
    return df

# Example usage:
if __name__ == "__main__":
    # Replace 'your_iiit_data.csv' with your actual file path
    input_file = 'iiit_data.csv'
    output_file = 'iiit_data_with_placements.csv'
    
    # Merge the data
    merged_df = merge_placement_data(input_file, output_file)
    
    if merged_df is not None:
        # Display sample of merged data
        print(f"\nSample of merged data:")
        print(merged_df[['institute', 'program_name', 'average_package', 'highest_package']].head(10))
        
        # Show statistics
        total_rows = len(merged_df)
        rows_with_placement = len(merged_df[merged_df['average_package'].notna()])
        print(f"\nTotal rows: {total_rows}")
        print(f"Rows with placement data: {rows_with_placement}")
        print(f"Coverage: {(rows_with_placement/total_rows)*100:.1f}%")

# Alternative: If you want to use the dictionary directly in your existing code
def get_placement_data(institute_name):
    """
    Get placement data for a specific institute
    
    Parameters:
    institute_name (str): Name of the institute
    
    Returns:
    dict: Dictionary with average_package and highest_package, or None if not found
    """
    matched_key = fuzzy_match_institute(institute_name, iiit_placement_dict)
    if matched_key:
        return iiit_placement_dict[matched_key]
    return None

# Example of using the get_placement_data function:
# placement_info = get_placement_data("Indian Institute of Information Technology Guwahati")
# if placement_info:
#     print(f"Average Package: {placement_info['average_package']:,}")
#     print(f"Highest Package: {placement_info['highest_package']:,}")

Successfully loaded CSV with 6015 rows

Matching Statistics:
Matched institutes: 25
Unmatched institutes: 1

Matched institutes:
  - Atal Bihari Vajpayee Indian Institute of Information Technology & Management Gwalior
  - INDIAN INSTITUTE OF INFORMATION TECHNOLOGY SENAPATI MANIPUR
  - Indian Institute of Information Technology (IIIT) Nagpur
  - Indian Institute of Information Technology (IIIT) Pune
  - Indian Institute of Information Technology (IIIT) Ranchi
  - Indian Institute of Information Technology (IIIT), Sri City, Chittoor
  - Indian Institute of Information Technology (IIIT)Kota, Rajasthan
  - Indian Institute of Information Technology Bhagalpur
  - Indian Institute of Information Technology Bhopal
  - Indian Institute of Information Technology Design & Manufacturing Kurnool, Andhra Pradesh
  - Indian Institute of Information Technology Guwahati
  - Indian Institute of Information Technology Lucknow
  - Indian Institute of Information Technology Surat
  - Indian Institute of Information Technology Tiruchirappalli
  - Indian Institute of Information Technology(IIIT) Dharwad
  - Indian Institute of Information Technology(IIIT) Kalyani, West Bengal
  - Indian Institute of Information Technology(IIIT) Kilohrad, Sonepat, Haryana
  - Indian Institute of Information Technology(IIIT) Kottayam
  - Indian Institute of Information Technology(IIIT) Una, Himachal Pradesh
  - Indian Institute of Information Technology(IIIT), Vadodara, Gujrat
  - Indian Institute of Information Technology, Agartala
  - Indian Institute of Information Technology, Allahabad
  - Indian Institute of Information Technology, Vadodara International Campus Diu (IIITVICD)
  - Indian institute of information technology, Raichur, Karnataka
  - Pt. Dwarka Prasad Mishra Indian Institute of Information Technology, Design & Manufacture Jabalpur

Unmatched institutes:
  - Indian Institute of Information Technology, Design & Manufacturing, Kancheepuram

Merged data saved to: iiit_data_with_placements.csv

Sample of merged data:
                                           institute  \
0  Atal Bihari Vajpayee Indian Institute of Infor...
1  Atal Bihari Vajpayee Indian Institute of Infor...
2  Atal Bihari Vajpayee Indian Institute of Infor...
3  Atal Bihari Vajpayee Indian Institute of Infor...
4  Atal Bihari Vajpayee Indian Institute of Infor...
5  Atal Bihari Vajpayee Indian Institute of Infor...
6  Atal Bihari Vajpayee Indian Institute of Infor...
7  Atal Bihari Vajpayee Indian Institute of Infor...
8  Atal Bihari Vajpayee Indian Institute of Infor...
9  Atal Bihari Vajpayee Indian Institute of Infor...

                       program_name average_package highest_package
0  Computer Science and Engineering         2056000         6500000
1  Computer Science and Engineering         2056000         6500000
2  Computer Science and Engineering         2056000         6500000
3  Computer Science and Engineering         2056000         6500000
4  Computer Science and Engineering         2056000         6500000
5  Computer Science and Engineering         2056000         6500000
6  Computer Science and Engineering         2056000         6500000
7  Computer Science and Engineering         2056000         6500000
8  Computer Science and Engineering         2056000         6500000
9  Computer Science and Engineering         2056000         6500000

Total rows: 6015
Rows with placement data: 5404
Coverage: 89.8%